<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishDir>..\..\dist\cli-selfcontained\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>
