<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishDir>..\..\dist\cli-r2r\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishReadyToRun>true</PublishReadyToRun>
  </PropertyGroup>
</Project>
